@using System.Globalization;

<!-- page css -->
<link href="~/student/assets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">

<div class="header-sub-title">
    <nav class="breadcrumb breadcrumb-dash">
        <a class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
        <span class="breadcrumb-item active">Contribution</span>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="m-t-25 table-responsive">
            <table id="data-table" class="table table-hover ">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Title</th>
                        <th>Short Description</th>
                        <th>submissionDate</th>
                        <th>publish</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contribution in Model)
                    {
                        <tr>
                            <td>@contribution.User.FullName</td>
                            <td>@contribution.Title</td>

                            <td style="width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
        -webkit-line-clamp: 1;
        height: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;">
                                @contribution.ShortDescription
                            </td>
                            <td>@contribution.SubmissionDate.ToString("yyyy/MM/dd")</td>
                            <td>
                                <a asp-area="Maketting" asp-controller="Contribution" asp-action="Publish" asp-route-id="@contribution.Id">
                                    @if (contribution.Publics.ToString() == "False")
                                    {
                                        <i class="anticon anticon-close btn btn-outline-danger btn-sm"></i>
                                    }
                                    else
                                    {

                                        <i class="anticon anticon-check btn btn-outline-success btn-sm"></i>
                                    }
                                </a>
                            </td>

                        </tr>
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <th>Student Name</th>
                        <th>Title</th>
                        <th>Short Description</th>
                        <th>submissionDate</th>
                        <th>Publish</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
@section Scripts{

    <!-- page js -->
    <script src="~/student/assets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/student/assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
}