@model IEnumerable< Manage_System.models.Contribution>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Login Success Modal -->
<div class="modal fade" id="loginSuccessModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Login Successful</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @TempData["TextLogin"]
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<h5>Student</h5>


<div class="card col-lg-4">
    <div class="card-body">
        <div>
            <canvas  id="myChart"></canvas>
        </div>

    </div>
</div>

@foreach (var blog in Model)
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    @foreach (var img in blog.ImgFiles.Select((value, index) => new { value, index }))
                    {
                        if (img.value.Stype == "Img")
                        {
                            <img class="img-fluid" src="~/Uploads/@img.value.Url" alt="">
                            break;
                        }
                    }

                </div>
                <div class="col-md-8">
                    <h4 class="m-b-10">@blog.Title</h4>
                    <div class="d-flex align-items-center m-t-5 m-b-15">
                        <div class="avatar avatar-image avatar-sm">
                            @if (blog.User.Avatar != null)
                            {
                                <img src="~/uploads/@blog.User.Avatar" alt="">
                            }
                            else
                            {
                                <img src="~/images/NoImage.png" alt="">
                            }


                        </div>
                        <div class="m-l-10">
                            <span class="text-gray font-weight-semibold">@blog.User.FullName</span>
                            <span class="m-h-5 text-gray">|</span>
                            <span class="text-gray">@blog.SubmissionDate</span>
                        </div>
                    </div>
                    <p class="m-b-20">@blog.ShortDescription</p>
                    <div class="text-right">
                        <a class="btn btn-hover font-weight-semibold" asp-controller="Contributions" asp-action="Detail" asp-route-id="@blog.Id">
                            <span>Read More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var showLoginSuccess = '@TempData["ShowLoginSuccessModal"]';
        if (showLoginSuccess === 'true') {
            $('#loginSuccessModal').modal('show');
        }
    });
    </script>
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}