@model Manage_System.ModelViews.ContributionsModelView

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h2 class="header-title">Contributions Post</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="#">Contributions</a>
            <span class="breadcrumb-item active">Contributions Post</span>
        </nav>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <div class="container">
            <h2 class="font-weight-normal m-b-10">@Model.Title</h2>
            <div class="d-flex m-b-30">
                <div class="avatar avatar-cyan avatar-img">
                    @if (Model.User.Avatar != null)
                    {
                        <img src="~/Uploads/@Model.User.Avatar" alt="">
                    }
                    else
                    {
                        <img src="~/images/NoImage.png" alt="">
                    }

                </div>
                <div class="m-l-15">
                    <a href="javascript:void(0);" class="text-dark m-b-0 font-weight-semibold">@Model.User.FullName</a>
                    <p class="m-b-0 text-muted font-size-13">@Model.SubmissionDate  </p>
                </div>
            </div>
            <div class="row">
                @foreach (var img in Model.ImgFiles)
                {
                    if (img.Stype == "Img")
                    {
                        <img alt="" style="height:200px;width:150px" src="~/Uploads/@img.Url">

                    }
                }
            </div>



            <div class="m-t-30">
                @foreach (var img in Model.ImgFiles)
                {
                    if (img.Stype == "File")
                    {
                        <div class="m-b-25">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="media align-items-center">
                                    <div class="font-size-35">
                                        <i class="anticon anticon-file-word text-primary"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <h6 class="m-b-0">
                                            <a class="text-dark">@img.Url</a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
            <hr>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <a class="btn btn-hover font-weight-semibold" asp-controller="Contributions" asp-action="Edit" asp-route-id="@Model.Id">
            <span>Edit Contributions</span>
        </a>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <form asp-controller="Comment" asp-action="SubmitComment" asp-route-id="@Model.Id" method="post">


            <h3>New Comment</h3>
            <div class="media m-b-15">
                <div class="avatar avatar-image">
                    @if (Model.Coordinator.Avatar != null)
                    {
                        <img src="~/Uploads/@Model.Coordinator.Avatar" alt="">
                    }
                    else
                    {
                        <img src="~/images/NoImage.png" alt="">
                    }
                </div>
                <div class="media-body m-l-20">
                    <h6 class="m-b-0">
                        <a href="#" class="text-dark">@Model.Coordinator.FullName</a>
                    </h6>
                </div>
            </div>
            <div>
                <textarea asp-for="Comment" class="w-100" style="height:150px" placeholder="Enter Comment .........."></textarea>
            </div>
            <button type="submit" class="btn btn-primary m-r-5 ">Submit</button>
        </form>
    </div>

</div>



<div class="card">
    <div class="card-body">
        @if (Model.Comments.Count > 0)
        {
            <h5>Comments (@Model.Comments.Count)</h5>
            <div class="m-t-20">
                @foreach (var comment in Model.Comments)
                {
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item p-h-0">
                            <div class="media m-b-15">
                                <div class="avatar avatar-image">
                                    @if (Model.User.Avatar != null)
                                    {
                                        <img src="~/Uploads/@Model.User.Avatar" alt="">
                                    }
                                    else
                                    {
                                        <img src="~/images/NoImage.png" alt="">
                                    }
                                </div>
                                <div class="media-body m-l-20">
                                    <h6 class="m-b-0">
                                        <a href="#" class="text-dark">@comment.User.FullName</a>
                                    </h6>
                                    <span class="font-size-13 text-gray">@comment.CommentDate</span>
                                </div>
                            </div>
                            <span>@comment.CommentText</span>
                            <div class="m-t-15">
                                <ul class="list-inline text-right">
                                    <li class="d-inline-block m-r-20">
                                        <a class="text-dark" href="javascript:void(0)">
                                            <i class="anticon m-r-5 anticon-like"></i>
                                            <span>43</span>
                                        </a>
                                    </li>
                                    <li class="d-inline-block m-r-30">
                                        <a class="text-dark" href="javascript:void(0)">
                                            <i class="anticon m-r-5 anticon-message"></i>
                                            <span>Reply</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                    </ul>
                }

            </div>

        }

    </div>
</div>
@*
<div class="m-t-30">
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div> *@