@model IEnumerable<Manage_System.models.Contribution>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h2 class="header-title">Contribution List</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <span href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</span>
            <a class="breadcrumb-item" href="/Student/Contributions">Contribution</a>
        </nav>
    </div>
</div>


<a class="btn btn-outline-info btn-sm add" asp-controller="Contributions" asp-action="Create" title="Create" style="margin-bottom: 20px">
    New Contributions <i class="bx bx-list-plus"></i>
</a>

<div class="container">

    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        @foreach (var img in item.ImgFiles.Select((value, index) => new { value, index }))
                        {
                            if (img.value.Stype == "Img")
                            {
                                <img class="img-fluid" src="~/Uploads/@img.value.Url" alt="">
                                break;
                            }
                        }
                        
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                        <h4 class="m-b-10 col-10">@item.Title</h4>
                        @if(item.Status == "Processing"){
                                <p class="m-b-10 col-2 text-center alert alert-warning bold" style="color:black">@item.Status</p>
                            }
                            else if (item.Status == "Approved")
                            {
                                if (item.Publics == true)
                                {
                                    <p class="m-b-10 col-2 text-center alert alert-success bold avatar-cyan" style="color:green">
                                        <i class="anticon anticon-check-circle"></i>
                                        Publish
                                    </p>
                                }
                                else
                                {
                                    <p class="m-b-10 col-2 text-center alert alert-success bold" style="color:blue">@item.Status</p>
                                }
                            }
                            else
                            {
                                <p class="m-b-10 col-2 text-center alert alert-danger bold" style="color:red">@item.Status</p>
                            }

                        </div>
                        <div class="d-flex align-items-center m-t-5 m-b-15">
                            <div class="avatar avatar-image avatar-sm">
                                @if(item.User.Avatar != null){
                                    <img src="~/uploads/@item.User.Avatar" alt="">
                                }else{
                                    <img src="~/images/NoImage.png" alt="">
                                }
                                

                            </div>
                            <div class="m-l-10">
                                <span class="text-gray font-weight-semibold">@item.User.FullName</span>
                                <span class="m-h-5 text-gray">|</span>
                                <span class="text-gray">@item.SubmissionDate</span>
                            </div>
                        </div>
                        <p class="m-b-20">@item.ShortDescription</p>
                        <div class="text-right">
                            <a class="btn btn-hover font-weight-semibold" asp-controller="Contributions" asp-action="Detail" asp-route-id="@item.Id">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
@* <div class="m-t-30">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div> *@

    </div>
</div>