@using Manage_System.models;
@model List<Manage_System.Areas.Coordinator.ModelView.ChatViewModel>
@{

    Layout = "~/Areas/Coordinator/Views/Shared/_Layout.cshtml";
}


<link href="~/css/index2.css" rel="stylesheet" />

<link rel="stylesheet" href="~/css/normalize.css" />


<div class="wrapper">

    <div class="right" onclick="scrollToBottom()">


        @foreach (var c in Model)
        {
            <div class="chat-wrapper shown" data-recipient="@c.revId">
                <div id="titleDiv">
                    <span class="title">@c.RecipientName <i class="fas fa-circle" style="color:limegreen"></i></span>
                </div>

                <div class="chat">
                    @{
                        List<Message> messages = new();
                        messages.AddRange(c.MyMessages);
                        messages.AddRange(c.OtherMessages);
                        foreach (var m in messages.OrderBy(x => x.SentAt))
                        {
                            if (c.MyMessages.Contains(m))
                            {
                                <div class="bubble me">

                                    <span class="message-text">@m.Content</span>
                                    <span class="message-time">@m.SentAt.Value.ToShortDateString()</span>
                                </div>
                            }
                            else
                            {
                                <div class="bubble other">
                                    <span class="message-text">@m.Content</span>
                                    <span class="message-time">@m.SentAt.Value.ToShortDateString()</span>
                                </div>
                            }
                        }
                    }
                </div>

                <div id="writeDiv">
                    <div class="write">
                        <i class="fas fa-paperclip"></i>
                        <input type="hidden" id="myUsername" value="@c.sendvId" />
                        <textarea id="message-text" placeholder="Write a message..."></textarea>
                        <i class="far fa-smile"></i>
                        <button id="btn-send" onclick="sendMessage('@c.revId')">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
@section Scripts{

    <script src="~/js/index.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/textareaAutosize.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6eb1355a84.js" crossorigin="anonymous"></script>

}